@media (max-width:600px){
    .banner{
        background-image: url("https://dummyimage.com/400x200/005276/000000");
        height: 100%;
        color:#FFFFFF;
        text-align: center;
        padding: 15px;    
        .caption {
            text-align: center;
            color: #FFFFFF;        
            display: inline-block;
            line-height: 25px;
            margin-bottom: 10px;
            h1 {
                font-family: "AmazonEmber-Bold";
                font-size: 25px; 
                font-weight: normal;           
            }
            p span {
                opacity: 0.8;
                font-family: "AmazonEmber-Regular";
                font-size: 15px;            
            }
        }
    }
}
@media (min-width:600px){
    .banner{
        background-image: url("https://dummyimage.com/1024x300/5fbec7/00f7ff");
        height: 300px;
        color:#FFFFFF;        
        padding: 15px;   
        position: relative;         
        .caption {
            text-align: center;
            color: #FFFFFF;        
            display: inline-block;
            line-height: 25px;
            margin-bottom: 10px;
            position: absolute;
            top: 50%;
            transform: translate(20%,-50%);
            h1 {                
                font-family: "AmazonEmber-Regular";
                font-size: 28px;
                color: #111111;
                line-height: 34px;  
                font-weight: normal;                        
            }
            p span {
                opacity: 0.8;
                font-family: "AmazonEmber-Regular";
                font-size: 13px;
                color: #111111;
                line-height: 19px;          
            }
        }
    }
}




